<nav id='nav-wrap' class='opaque' [ngStyle]="{background:'#313131'}">
  <a class='mobile-btn' href='#nav-wrap' title='Show navigation'>Show navigation</a>
  <a class='mobile-btn' href='#' title='Hide navigation'>Hide navigation</a>
  <ul id='nav' class='nav'>
    <li *ngFor="let navigationItem of navigation">
      <app-navlink [link]="navigationItem.link" [name]="navigationItem.name"></app-navlink>
    </li>
  </ul>
  <button id="goToReact" [ngClass]="(showReactButton === true) ? 'scale-in' : 'scale-out'" (click)="goToReact()" [style.marginRight]="'20px'"> Switch to React Version</button>
  <button id="goToVue" [ngClass]="(showReactButton === true) ? 'scale-in' : 'scale-out'" (click)="goToVue()"> Switch to Vue Version</button>
</nav>
